@font-face {
    font-family: metropolis-blackitalic;
    src: url(fonts/metropolis.black-italic.otf);
}
@font-face {
    font-family: metropolis-black;
    src: url(fonts/metropolis.black.otf);
}
@font-face {
    font-family: metropolis-bold;
    src: url(fonts/metropolis.bold.otf);
}
@font-face {
    font-family: metropolis-light;
    src: url(fonts/metropolis.light.otf);
}
@font-face {
    font-family: metropolis-extrabold;
    src: url(fonts/metropolis.extra-bold.otf);
}
@font-face {
    font-family: metropolis-reg;
    src: url(fonts/metropolis.regular.otf);
}
@font-face {
    font-family: metropolis-semi;
    src: url(fonts/metropolis.semi-bold.otf);
}

@font-face {
    font-family: metropolis-regitalic;
    src: url(fonts/metropolis.regular-italic.otf);
}

body{
    background-image: url(images/signup-bg.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: metropolis-reg;
}

/* Progress Bar Section */
#progress-bar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container {
    width: 100%;
}

.progress {
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    text-align: center;
    color: white;
    font-weight: bold;
}

.stepper-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap:7em;
    margin-bottom: 40px;
  }
  .stepper-item {
    color: aliceblue;
    font-family: metropolis-reg;
    font-size:0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.step-counter{
    color:#050562;
    font-family: metropolis-reg;
    font-size:1rem;
}
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #007bff;
    width: 60px;
    top: 20px;
    left: -65%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #F2EC26;
    width: 160px;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
    .stepper-item.completed .step-counter {
        background-color: blue; 
    }
    
    .stepper-item.active .step-counter {
        font-weight: bold;
        background-color: #F2EC26; 
    }

  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 300px;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

#signup-field-container-p1,
#signup-field-container-p2,
#signup-field-container-p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 550px;
    margin: 0;
    padding: 0;
}

#field-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding:1em;
}

/* Sign-Up Labels */
#lbl-field,
#lbl-field-p2,
#lbl-field-p3 {
    margin-top: 2em;
    font-family: metropolis-semi;
    font-size: 1.4rem;
    letter-spacing: -0.2px;
    text-align: center;
    width: 100%;
    color:aliceblue;
}

/* Main Content Container */
#sign-up-container {
    position:relative;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;    
}

#signup-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    width: 100%;

}
#signup-progress-section,
#signup-field-section {
    display: flex;
    flex: 1;
    overflow: hidden; 
}

/* Progress Section */
#signup-progress-section {
    top:0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}
#signup-progress-container{
    position:fixed;
    padding-left: 5em;
}

/* Field Section */
#signup-field-section {
    position: relative;
    overflow-y: scroll;
    width:fit-content;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: fit-content;
}


/* Input Fields and Dropdowns */
    #org-input,
    #rel-input,
    #email-input,
    #confirmpass-input,
    #password-input,
    #username-input,
    #attendee-dropdown,
    #sex-dropdown {
        width: 30em;
        height:55px;
        margin: 0 auto;
        text-align: left; /* Align text to the left */
        background-color: transparent;
        border: 1px solid rgba(240, 248, 255, 0.76);
        border-radius: 10px;
        padding: 1rem 3rem 0.5rem 1rem; /* Adjust padding for icons */
        margin-bottom: 0.5em;
        transition: border-color 0.2s ease-in-out;
        color:aliceblue;
        font-size: 0.8rem;
        font-family: metropolis-reg;
    }
    #firstname-input:hover,
    #surname-input:hover,
    #birthdate-input:hover, 
    #org-input:hover,
    #rel-input:hover,
    #email-input:hover,
    #confirmpass-input:hover,
    #password-input:hover,
    #username-input:hover,
    #attendee-dropdown:hover,
    #sex-dropdown:hover {
        border:1px solid #F2EC26; 
    }
    /* Name Layer PUT*/
    #name-layer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        width:fit-content;
        margin: 0 auto;
    }

    #firstname-input,
    #surname-input,
    #birthdate-input{
        background-color: transparent;
        border: 1px solid rgba(240, 248, 255, 0.76);
        border-radius: 10px;    
        font-size: 0.7rem;
        height:50px;  
        width: 100%;
    }

/* Name Layer PUT*/
#name-layer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width:fit-content;
    margin: 0 auto;
}

#firstname-input{
    width: 14em;
    margin: 0;
}
#surname-input {
    width: 21em;
    margin: 0;
}
#birthdate-input{
    
    color:aliceblue;
    width:36em;

}
/* Dropdown Layers */
select {
    position: relative;
    appearance: none;
    width:25em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1.2rem 1rem 1rem; 
    border: 1px solid rgba(240, 248, 255, 0.76);
    border-radius: 10px;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer; /* Show pointer cursor on hover */
}
select:focus, select:active{
    border:1px solid #F2EC26;
}
#attendee-item, #dropdown-item{
    width:100%;
    font-size:0.9rem;
    font-family:metropolis-reg;
    background-color: transparent;
}
.dropdown{
    appearance: none;
    width:100%;
    margin: 0;
    padding: 0;
    margin-bottom:0.8em;
    margin-top:0em;
}

.dropdown::after {
    content: "▼"; /* Custom arrow symbol */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't interfere with the select */
    color: #adb5bd; /* Arrow color */
    font-size: 0.8rem; /* Arrow size */
}

/* Floating Labels */
.input-container {
    position: relative;
    width: 100%;
}

/* Label Styling */
.form-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #adb5bd;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Focused Input Field */
.form-control.form-control-lg:focus {
    border-color: #F2EC26;
}

/* Floating Label Effect */
.form-control.form-control-lg:focus + .form-label,
.form-control.form-control-lg:not(:placeholder-shown) + .form-label,
.form-label.active {
    top: -0.09rem; /* Float the label above the input */
    left: 1rem;
    font-size: 0.8rem;
    color: #F2EC26;
    background-color: #050562;
    padding: 0 1rem;
    border-radius: 5px;
}

/* Verification Slots */
#verify-layer,#verification-container,#resend-text{
    position: relative;
    width:fit-content;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    gap: 5em;
    margin-left: 10em; 
    margin-bottom: 2em; 
}
#verification-container{
    align-items: center;
    justify-content:center;
    gap: 1em;
    margin:0;
}
#resend-text{
    margin-left: 18em; 
    margin-top: 2em;
}
.code-nums{
    width:40px;
    height: 45px;
    border-radius: 10px;
    border:0.5px solid #adb5bd; 
    background-color: transparent;
}
.code-nums:hover, .code-nums:focus{
    border:1px solid #F2EC26; 
}

.progress-container{
    background-color:transparent;
}

/* Customize the accordion button */
.accordion-item .accordion-button {
    background-color: transparent; 
    color: aliceblue;
    font-family: metropolis-semi;
    font-size: 0.9rem;
    width: 100%;
    margin: 1em 2em 1em;
    padding: 2em;
    border: none; 
    box-shadow: none; 
}

/* Customize the expanded state */
.accordion-item .accordion-button:not(.collapsed) {
    background-color: #050562;
    color: aliceblue; 
    box-shadow: none; 
}

/* Customize the collapsed state */
.accordion-button.collapsed {
    color: #6c757d; 
    background-color: transparent;
}

/* Customize the accordion body */
.item-body {
    color:aliceblue;
    padding: 1rem;
    margin:1em 2em 1em;
    border-top: none;
}
#step-no{
    font-family:metropolis-semi;
    font-size:0.8rem;
}
#step-head{
    font-family:metropolis-bold;
    font-size:3rem;
    letter-spacing: -0.1rem;
}
#step-desc{
    font-family:metropolis-semi;
    font-size:0.8rem;
}

#btn-confirm{
    justify-content:flex-start;
}
#btn-confirm-text{
    background-color: #F2EC26;
    border-radius: 10px;
    padding:1em 3em 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#btn-confirm-text:hover{
    background-color: #007bff;
    font-family: metropolis-semi;
    border-radius: 10px;
}
#timer-text,#btn-verify-text,
#resend-text,#btn-confirm-text
{
    text-decoration: none;
    color:#007bff;
    font-family:metropolis-light;
    font-size: 0.9rem;
    cursor:default;
}

#btn-verify-text:hover,
#resend-text:hover,#btn-confirm-text:hover
{
    color:#F2EC26;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn-createacc-text{
    background-color: #F2EC26;
    border-radius: 25px;
    width: 100%;
    padding:0.7em 3em 0.7em;
    margin-top: 1.5em;
    margin-bottom: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Terms and Conditions */
#btn-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#lbl-terms{
    color:rgba(240, 248, 255, 0.477);
    text-align: center;
    font-size: 0.8rem;
    font-family: metropolis-light;
}

#check-terms{
    background-color: transparent;
    border: 0.5px solid rgba(240, 248, 255, 0.525);
    font-size: 0.8rem;
}

#terms-link{
    color: #adb5bd;
    text-decoration: none;
}


/* Responsive Dropdown */
@media only screen and (max-width: 1068px) {  
    
    /* Progress Section */
    #signup-progress-section {
        position: relative;
        height: 100%;
        width: fit-content;
    }
    
    /* Field Section */
    #signup-field-section {
        overflow-y: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top:6em;
    }

    #signup-field-container-p1,
    #signup-field-container-p2,
    #signup-field-container-p3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height: fit-content;
        margin: 0;
        padding: 1em;
    }

    /* Input Fields and Dropdowns */
    #org-input,
    #rel-input,
    #email-input,
    #confirmpass-input,
    #password-input,
    #username-input,
    #attendee-dropdown,
    #sex-dropdown {
        width:23em;
    }
    /* Name Layer PUT*/
    #name-layer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        width:fit-content;
        margin: 0 auto;
    }

    #firstname-input,
    #surname-input,
    #birthdate-input{
        background-color: transparent;
        border: 1px solid rgba(240, 248, 255, 0.76);
        border-radius: 10px;    
        font-size: 0.7rem;
        height:50px;  
        width: 100%;
    }

    #firstname-input{
        width: 13em;
    }
    #surname-input {
        width: 13em;
    }
    #birthdate-input{
        width:27em;
    }
    /* Dropdown Layers */
    select {
        width:19em;
    }

    .dropdown::after {
        font-size: 0.6rem; 
    }

    #attendee-item, #dropdown-item{
        width:100%;
        font-size:0.6rem;
        font-family:metropolis-reg;
        background-color: transparent;
    }

    /* Verification Slots */
    #verify-layer,#verification-container,#resend-text{
        width:fit-content;
        align-items: center;
        justify-content:center;
        margin:0;
        padding-left:5em;
    }
    #resend-text{
        padding-top:2em;
        padding-left:13em;
    }
    #verification-container{
        padding-left:0em;
    }
    
}
@media only screen and (max-width: 760px) {  
    
    /* Progress Section */
    #signup-progress-section {
        display: none;
    }
    
    /* Field Section */
    #signup-field-section {
        position: relative;
        overflow-y: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top:6em;
    }

    #signup-field-container-p1,
    #signup-field-container-p2,
    #signup-field-container-p3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height: fit-content;
        margin: 0;
        padding: 1;
    }

    /* Input Fields and Dropdowns */

    #org-input,
    #rel-input,
    #email-input,
    #confirmpass-input,
    #password-input,
    #username-input,
    #attendee-dropdown,
    #sex-dropdown {
        width:20rem;
        height:50px;
        padding: 1rem 3rem 0.5rem 1rem; /* Adjust padding for icons */
        text-align: left; /* Align text to the left */
        background-color: transparent;
        border: 1px solid rgba(240, 248, 255, 0.76);
        border-radius: 10px;
        margin-bottom: 0.6em;
        transition: border-color 0.2s ease-in-out;
        color:aliceblue;
        font-size: 0.7rem;
        font-family: metropolis-reg;
    }
    #firstname-input:hover,
    #surname-input:hover,
    #birthdate-input:hover, 
    #org-input:hover,
    #rel-input:hover,
    #email-input:hover,
    #confirmpass-input:hover,
    #password-input:hover,
    #username-input:hover,
    #attendee-dropdown:hover,
    #sex-dropdown:hover {
        border:1px solid #F2EC26; 
    }
    /* Name Layer PUT*/
    #name-layer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        width:fit-content;
        margin: 0 auto;
    }

    #firstname-input,
    #surname-input,
    #birthdate-input{
        background-color: transparent;
        border: 1px solid rgba(240, 248, 255, 0.76);
        border-radius: 10px;    
        font-size: 0.7rem;
        height:50px;  
        width: 100%;
    }

    #firstname-input{
        width: 13em;
    }
    #surname-input {
        width: 13em;
    }
    #birthdate-input{
        width:27em;
    }
    /* Dropdown Layers */
    select {
        width:19em;
    }

    .dropdown::after {
        font-size: 0.6rem; 
    }

    #attendee-item, #dropdown-item{
        width:100%;
        font-size:0.6rem;
        font-family:metropolis-reg;
        background-color: transparent;
    }
    
}

@media only screen and (max-width: 576px) {
    /* Field Section */
    #signup-progress-section {
        display: none;
    }
    #signup-field-section {
        padding-top:6em;
        position: relative;
    }
    .stepper-wrapper {
        gap:4.5em;
        margin-bottom: 20px;
      }
    .stepper-item.completed::after {
        width: 200px;
    }
    
    


}
